{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
<div class="">
    <form id="postForm">
        <textarea name="content" autofocus class="form-control mb-2 p-lg-4 fs-4"
            placeholder="What's in your mind?"></textarea>
        <input type="submit" class="btn btn-primary px-lg-4 my-2"></input>
    </form>
</div>

{% endif %}

{% include 'network/posts_list.html' %}
{% include 'network/pagination.html' %}

{% if user.is_authenticated %}
<script>
    const csrfToken = "{{ csrf_token }}";
    document.getElementById("postForm").addEventListener("submit", function (e) {
        e.preventDefault();
        const content = document.querySelector("[name='content']").value.trim();
        if (!content) {
            alert("content can not be empty");
            return;
        }
        let formData = new FormData();
        formData.append("content", content);
        formData.append("csrfmiddlewaretoken", csrfToken);
        fetch("{% url 'create_post' %}",
            {
                method: "POST",
                body: formData
            }).then(response => response.json()).then(data => {
                if (data.error) {
                    alert(data.error)
                } else {
                    let new_post = document.createElement("div");
                    new_post.innerHTML = `
							<div class="post post bg-light p-2 p-lg-4 my-2 my-lg-4" data-post-id="${data.post.id}">
							 <strong><a href="profiles/${data.post.author}" class="text-success text-decoration-none fw-bold fs-5">${data.post.author}</a></strong>
							 <p class="text-primary">${data.post.content}</p>
							 <small class="fst-italic">${data.post.date_stamp}</small>
							 <div class="total_likes fst-italic mb-2 mb-lg-4">Likes: ${data.post.total_likes}</div>
							 <button class="edit-btn btn bg-primary text-light">Edit</button>
                             <button class="like-btn btn bg-primary text-light">Like</button>
							</div>
							`;
                    document.querySelector(".post_list").prepend(new_post);
                    new PostEditor(new_post.querySelector(".edit-btn"));
                    new LikeToggle(new_post.querySelector(".like-btn"));
                    document.querySelector("[name='content']").value = "";
                }
            }
            ).catch(error => { alert(error) })
    }
    )
</script>

<!-- necessary variables for the external js files -->
<script>
    update_post_url = "{% url 'update_post' %}";
    toggle_like_url = "{% url 'toggle_like' %}";
</script>
<!-- external js files -->
<script src="{% static 'network/js/handle_edit.js' %}"></script>
<script src="{% static 'network/js/handle_like.js' %}"></script>
{% endif %}
{% endblock %}