{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<form id="postForm">
    <textarea name="content" placeholder="What's in your mind?"></textarea>
    <input type="submit"></input>
</form>
{% endif %}
{% include 'network/posts_list.html' %}
{% include 'network/pagination.html' %}
{% if user.is_authenticated %}
<script>
    const csrfToken = "{{ csrf_token }}";
    document.getElementById("postForm").addEventListener("submit", function (e) {
        e.preventDefault();
        const content = document.querySelector("[name='content']").value.trim();
        if (!content) {
            alert("content can not be empty");
            return;
        }
        let formData = new FormData();
        formData.append("content", content);
        formData.append("csrfmiddlewaretoken", csrfToken);
        fetch("{% url 'create_post' %}",
            {
                method: "POST",
                body: formData
            }).then(response => response.json()).then(data => {
                if (data.error) {
                    alert(data.error)
                } else {
                    let new_post = document.createElement("div")
                    new_post.innerHTML = `
							<div class="post" data-post-id="${data.post.id}">
							 <strong><a href="profiles/${data.post.author} %}">${data.post.author}</a></strong>
							 <p>${data.post.content}</p>
							 <small>${data.post.date_stamp}</small>
							 <div>Likes: ${data.post.total_likes}</div>
							 <button class="edit-btn">Edit</button>
							</div>
							`;

                    document.querySelector(".post_list").prepend(new_post);
                    document.querySelector("[name='content']").value = "";
                }
            }
            ).catch(error => { alert(error) })
    }
    )
</script>
{% endif %}
{% endblock %}