<div class="post_list">
    {% for post in page_obj %}
    <div class="post" data-post-id="{{ post.id }}">
        {% if show_post_author %}
        <strong><a href="{% url 'profile' post.author %}">{{post.author}}</a></strong>
        {% endif %}
        <p>{{post.content}}</p>
        <small>
            {% if post.updated_at %}
            {{ post.updated_at }}
            {% else %}
            {{post.date_stamp}}
            {% endif %}
        </small>
        <div>Likes: {{ post.total_likes }}</div>
        {% if request.user == post.author %}
        <button class="edit-btn">Edit</button>
        {% endif %}
    </div>
    {% endfor %}
</div>