{% extends "network/layout.html" %}

{% block body %}
<header>
    <div>
        <h1>{{profile_owner}}'s Profile</h1>
        <p class=" fst-italic">
            <span id="followers_p">Followers: {{profile_owner.profile.followers.count}}, </span>

            {% if request.user == profile_owner %}
            You follow: {{ profile_owner.profile.following.count }}

            {% else %}
            {{ profile_owner }} follows: {{ profile_owner.profile.following.count }}
            {% endif %}
        </p>


    </div>
    {% if not request.user == profile_owner %}
    <form id="follow_form">
        <button id="follow_btn" class="btn btn-primary fs-5 fw-bolder" type="submit">
            {% if follow_status %}
            Unfolllow
            {% else %}
            Follow
            {% endif %}
        </button>
    </form>
    {% endif %}
</header>
{% include 'network/posts_list.html' %}
{% include 'network/pagination.html' %}
{% if not request.user == profile_owner %}
<script>
    let followForm = document.getElementById("follow_form");
    let followBtn = document.getElementById("follow_btn");
    let followers_p = document.getElementById("followers_p");
    const csrfToken = "{{ csrf_token }}";
    const profileOwnerUsername = "{{profile_owner.username}}"
    followForm.addEventListener("submit", function (e) {
        e.preventDefault();
        let formData = new FormData()
        formData.append("csrfmiddlewaretoken", csrfToken);
        formData.append("profile_page_owner_username", profileOwnerUsername);
        followBtn.disabled = true;
        fetch("{% url 'follow' profile_owner %}", {
            method: "POST",
            body: formData
        }).then(response => response.json()).then
            (data => {
                if (data.error) {
                    alert(data.error)
                } else if (data.redirect) {
                    window.location.href = data.redirect
                } else {
                    alert(data.message)
                    followBtn.classList.toggle("following", data.follow_status);
                    if (data.follow_status) {
                        followBtn.textContent = "Unfollow"
                    } else {
                        followBtn.textContent = "Follow"
                    }
                    followers_p.textContent = `Followers: ${data.followers_count}`
                }
            }).catch(error => alert(`error from catch: ${error}`))
        followBtn.disabled = false;
    })

</script>
{% endif %}
{% endblock %}